.register__container {
    position: relative;
    display: grid;
    place-items: center;
    height: 90vh;
}

.form__container {
    background-color: orangered;
    border: 2px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    width: var(--reg--login--container);
    height: fit-content;
    text-align: center;
    padding-top: 1rem;
}

.form__container > *, .register__form > * {
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.email__container {
    display: grid;
    justify-content: center;
}

.password__container {
    display: grid;
    justify-content: center;
}

.submit__container {
    display: grid;
    justify-content: center;
}

.login__link {
}
