.calculator__main__container {
    background-color: red;
    border: 4px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

.bet__type__container {
    background-color: teal;
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--padding-standard);
}

.calculator__inputs {
    background-color: red;
    padding: var(--padding-standard);

}

.laystake__container {
    background-color: teal;
    display: grid;
    padding: var(--padding-standard);

}

.results__container {
    background-color: pink;
    padding: var(--padding-standard);

}