.posts__container {
    margin-top: 1.5rem;
    border: 2px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    padding: var(--standard-padding);
}

.post__item {
    border: 2px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    padding: var(--standard-padding);
}