.header__container {
    background-color: pink;
    text-align: center;
    padding: 1rem;
    margin-top: var(--padding-large);
    font-size: var(--font-size-medium);
}

.header__container h2 {
}

.main__calculator__container {
    padding: var(--padding-large) 6rem;
}

.calculations__container {
    margin-top: var(--padding-large);
    background-color: orange;
    display: grid;
    gap: var(--padding-small);
}

.calculations__title h3 {
    padding: var(--padding-small) var(--padding-standard);
    font-weight: 600;
    border: 2px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

.calculation__type {
    background-color: red;
    border: 2px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    padding: var(--padding-standard);
}